@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "poppins", Courier, monospace,Arial, Helvetica, sans-serif;
  --color-bg1: #5a083e;
  --color-bg2: rgba(40, 46, 71, 0.584);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --shapebg: #0a022b;
  --delay: 0.3s;
  --heading:#fff;
  --content:#f1f1fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Courier, monospace,Arial, Helvetica, sans-serif;
}
body{
  background:url('./assets/tiago-alexandre-lopes-W4CTDtL2LQo-unsplash.jpg');
  backdrop-filter: blur(50px);
}
main{
  background: linear-gradient(rgba(107, 137, 202, 0.247),rgba(107, 137, 202, 0.07)),url('./assets/tiago-alexandre-lopes-W4CTDtL2LQo-unsplash.jpg')no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width:567px) {
  main{
    background: linear-gradient(rgba(107, 137, 202, 0.247),rgba(107, 137, 202, 0.347)),url('./assets/tiago-alexandre-lopes-W4CTDtL2LQo-unsplash.jpg')no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.round {
  position: relative;
  letter-spacing: 0.03rem;
  color:#fff;
}
.round.resume{
  background: -webkit-linear-gradient(180deg,var(--color-bg1)40%,var(--shapebg)95%);
}
.round.contact{
  background:var(--color-bg2);
}
.round::before,
.round::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  background-color: transparent;
  z-index: -1;
}
.round.follow::before {
  bottom: -33px;
  left: 0;
  border-top-left-radius: 55px;
  box-shadow: -6px -6px 0px 2px var(--shapebg);
}
.round.follow::after {
  top: 0rem;
  left: 7.45rem;
  rotate: -3.5deg;
  border-top-left-radius: 55px;
  box-shadow: -5px -5px 0 1px var(--shapebg);
}
.round.contact::before {
  right: 10.8rem;
  top: 0;
  border-top-right-radius: 55px;
  box-shadow: 5.59px -5.59px 0 5px var(--shapebg);
}
.round.contact::after {
  right: 0.035rem;
  top: 3.5rem;
  border-top-right-radius: 55px;
  box-shadow: 5.59px -5.59px 0 5px var(--shapebg);
}
.round.menu::before {
  right: 4.5rem;
  border-top-right-radius: 55px;
  box-shadow: 6px -6px 0 5px var(--shapebg);
}
.round.menu::after {
  right: -0.03px;
  top: 3.3rem;
  border-top-right-radius: 52px;
  box-shadow: 6px -6px 0 5px var(--shapebg);
}
.round.resume::before {
  left: 0rem;
  bottom: 3.8rem;
  border-bottom-left-radius: 55px;
  box-shadow: -6px 6px 0 5px  var(--shapebg);
}
.round.resume::after {
  right: -2.37rem;
  bottom: -0.05rem;
  border-bottom-left-radius: 55px;
  box-shadow: -6px 6px 0 3px var(--shapebg);
}
.extra{
  background-color: var(--shapebg);
  width: 15px;
  height: 10px;
  position: absolute;
}
.extra.one{
  bottom:-0.5rem;
  left:0;
}
.extra.two{
  top:-0.1rem;
  right:-0.7rem;
}
.arrow{
  animation:slide-left 1s ease-in-out 1;
}
@keyframes slide-left{
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}
.ul > li {
  animation: wade-in 1s 1 ease forwards;
  opacity: 0;
  position: relative;
}
.ul li:nth-child(1) {
  animation-delay: 0.5s;
}
.ul li:nth-child(2) {
  animation-delay: 1s;
}
.ul li:nth-child(3) {
  animation-delay: 1.5s;
}
@keyframes wade-in {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
header ul > li {
  animation: wade-in2 1s 1 ease forwards;
  opacity: 0;
}
header ul li:nth-child(1) {
  animation-delay: var(--delay);
}
header ul li:nth-child(2) {
  animation-delay: calc(var(--delay) * 2);
}
header ul li:nth-child(3) {
  animation-delay: calc(var(--delay) * 3);
}
@keyframes wade-in2 {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}